version: "3.9"

services:
  db:
    image: postgres:16
    container_name: db-postgres
    restart: always
    ports:
      - "15432:5432"
    environment:
      POSTGRES_USER: quizapp
      POSTGRES_PASSWORD: quizapp
      POSTGRES_DB: quizapp
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
